""" Plugins  --------------------------------
set surround
set vim-highlightedyank
set commentary
set argtextobj

set lazyredrawset ideajoin
set relativenumber

set incsearch
set hlsearch

nmap <leader>s :nohlsearch<CR>
nmap <leader>v :vsplit<CR>
nmap <leader>h :split<CR>

nmap j gj
nmap k gk

let mapleader = "\<Space>"
nmap 0 ^
map <C-s> <esc>:w<CR>
imap <C-s> <esc>:w<CR>
imap jk <esc>
imap kj <esc>

set ignorecase
set smartcase
